@mixin padding($top, $right, $bottom, $left) {
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
    padding-top: $top;
}

@mixin margin($top, $right, $bottom, $left) {
    margin-bottom: $bottom;
    margin-left: $left;
    margin-right: $right;
    margin-top: $top;
}
